<!-- slides-front.component.html -->



<!-- Carousel -->
<div id="carouselExampleControls" class="carousel slide">
  <div class="carousel-inner">
    <div *ngFor="let slide of dataSource.data; let i = index"
         class="carousel-item"
         [class.active]="i === currentIndex">
      <img [src]="slide.image" class="d-block w-100" alt="Slide">
      <div class="carousel-caption">
        <h5>{{ slide.titre }}</h5>
        <p>{{ slide.description }}</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" (click)="prevSlide()" role="button">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" (click)="nextSlide()" role="button">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<ng-template #dialogTemplate>
  <h1 mat-dialog-title>{{ isSuccess ? 'Success' : 'Error' }}</h1>
  <div mat-dialog-content>
    <p>{{ dialogMessage }}</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
  </div>
</ng-template>
<!-- Other Components -->
<app-eventsfront></app-eventsfront>
<app-conventionsfront></app-conventionsfront>
