/* Custom Styles for the Navbar */

.logo {
  height: 50px; /* Adjust the height of the logo */
  margin-right: 10px;
}

.navbar-nav .nav-item .nav-link.active {
  font-weight: bold;
  color: #007bff; /* Blue color for active link */
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}
