<form [formGroup]="slideForm" (ngSubmit)="addSlide()">
    <div class="form-group">
      <label for="titre">Titre:</label>
      <input id="titre" formControlName="titre" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <input id="description" formControlName="description" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="image">Image:</label>
      <input id="image" type="file" (change)="onFileSelected($event)" class="form-control" required>
      <img *ngIf="imagePreview" [src]="imagePreview" alt="Image preview" class="img-fluid mt-2">
    </div>
    <div class="form-group">
      <label for="btn_href">Button Href:</label>
      <input id="btn_href" formControlName="btn_href" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="btn_name">Button Name:</label>
      <input id="btn_name" formControlName="btn_name" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="status">Status:</label>
      <input type="checkbox" id="status" formControlName="status">
    </div>
    <button type="submit" class="btn btn-primary">Add Slide</button>
    <a href="http://localhost:4200/ListeSlides" class="btn btn-secondary ml-2">Go to Slides List</a>
  
    <div *ngIf="errorMessage" class="error-message">
      <p>{{ errorMessage }}</p>
    </div>
  </form>