<footer id="footer" class="footer-container">
    <div class="footer-content container">
      <div class="footer-row">
        <!-- Contact Information -->
        <div class="contact-info">
          <img src="./assets/images/logos/etap.png" alt="ETAP Logo" class="logo">
          <div class="contact-details">
            <h5>Contact Information</h5>
            <p>54, Avenue Mohamed V - 1002 Tunis, Tunisie</p>
            <p>Phone: <a href="tel:+21671285097">(+216) 71 28 50 97</a>, <a href="tel:+21671285280">(+216) 71 28 52 80</a></p>
          </div>
        </div>
  
        <!-- Useful Links -->
        <div class="useful-links">
          <h5>Liens Utiles</h5>
          <ul class="list-unstyled">
            <li><a href="#">Qui Sommes Nous?</a></li>
            <li><a href="#">Capital Humain</a></li>
            <li><a href="#">Mission, Vision & Valeurs</a></li>
            <li><a href="#">Orientations Stratégiques</a></li>
            <li><a href="#">Filiales</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
  
        <!-- Publications -->
        <div class="publications">
          <h5>Nos Publications</h5>
          <ul class="list-unstyled">
            <li><a href="#">Publications</a></li>
            <li><a href="#">Rapports Annuels</a></li>
            <li><a href="#">Rapports Financiers</a></li>
          </ul>
        </div>
      </div>
    </div>
  
    <!-- Footer Bottom -->
    <div class="footer-bottom">
      <p>Copyright ETAP © 2024 | Tous les droits sont réservés.</p>
    </div>
  </footer>
  